Telegram Smart Agent/Human Handoff Workflow.json
{
  "name": "Human Handoff Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        16
      ],
      "id": "a20fc83b-5ffc-4f97-807a-a396ec987cfe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblvtjl8gHrVeryf7",
          "mode": "list",
          "cachedResultName": "Chat_Sessions",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblvtjl8gHrVeryf7"
        },
        "filterByFormula": "=AND({human_mode} = 1, {handoff_alert_sent} = 0)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -304,
        16
      ],
      "id": "9c6deaf3-70ac-4611-8a21-ebf9eb016db7",
      "name": "Search Handoff Sessions",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5233070577",
        "text": "=🚨 Human Handoff Requested\n\nChat ID: {{ $json.fields.chat_id }}\nStatus: AI paused, waiting for human.\n\nClick to reset mode and restore AI:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔓 Reset Mode",
                    "additionalFields": {
                      "callback_data": "=reset_handoff:{{ $json.id }}:{{ $json.fields.chat_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        16
      ],
      "id": "37172851-1848-46dd-a161-0d53980e2785",
      "name": "Notify Admin",
      "webhookId": "e60850c6-c571-4afb-85a7-5f1c74e73b83",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblvtjl8gHrVeryf7",
          "mode": "list",
          "cachedResultName": "Chat_Sessions",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblvtjl8gHrVeryf7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "handoff_alert_sent": true,
            "id": "={{ $('Search Handoff Sessions').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "human_mode",
              "displayName": "human_mode",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "handoff_alert_sent",
              "displayName": "handoff_alert_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        112,
        16
      ],
      "id": "1875df3f-827d-4edd-b1c3-e2c0e8b107b3",
      "name": "Mark Alert Sent",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        272
      ],
      "id": "1c9e75e2-54b6-413d-88da-af2510a0052a",
      "name": "Telegram Trigger",
      "webhookId": "1d604e07-072f-4bea-83cb-3f341b150e29",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callback = $json.callback_query;\nconst data = callback.data.split(':');\nreturn {\n  json: {\n    action: data[0],\n    recordId: data[1],\n    customerChatId: data[2],\n    callbackQueryId: callback.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        272
      ],
      "id": "a6285d54-313a-4829-86dd-b39e546ed6b4",
      "name": "Parse Callback"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback').item.json.customerChatId }}",
        "text": "=✅ AI mode has been restored. You can continue chatting. 🤖✨",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        272
      ],
      "id": "86d9ec74-b245-4663-a3ff-8ce336ff5388",
      "name": "Notify Customer",
      "webhookId": "b4ee638c-cc69-48f4-8b70-a830f5d9328f",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Parse Callback').item.json.callbackQueryId }}",
        "additionalFields": {
          "text": "=Mode reset successfully."
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        272
      ],
      "id": "ea2c9c0e-4ccf-40e5-ac3b-4188494b55c1",
      "name": "Acknowledge Admin",
      "webhookId": "215465da-57f7-4fe2-9610-0141d5fdca1e",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblvtjl8gHrVeryf7",
          "mode": "list",
          "cachedResultName": "Chat_Sessions",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblvtjl8gHrVeryf7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "human_mode": false,
            "handoff_alert_sent": false,
            "id": "={{ $json.recordId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "human_mode",
              "displayName": "human_mode",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "handoff_alert_sent",
              "displayName": "handoff_alert_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -96,
        272
      ],
      "id": "b1d33a10-f321-4da2-b1f3-433b86a2a69c",
      "name": "Reset Mode",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Handoff Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Handoff Sessions": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        [
          {
            "node": "Mark Alert Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Alert Sent": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Reset Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Customer": {
      "main": [
        [
          {
            "node": "Acknowledge Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Mode": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "380db89e-6bd3-411f-8768-4f63cdbfdd7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "953a1f57a87c292d04865ddcf47377bcf4f3cc4b035326b7099a500d3a353f2b"
  },
  "id": "fw9kogU6Kz5gFwI0",
  "tags": []
}