Telegram Smart Agent/Order Fulfilled Workflow.json
{
  "name": "Order Fulfilled Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        32
      ],
      "id": "134fe812-3230-4bca-b5f7-643b6a57a496",
      "name": "Schedule Trigger: Every 5 Min"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblWhxya9O77az8Kr",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblWhxya9O77az8Kr"
        },
        "filterByFormula": "=AND({status} = '🚚 Fulfilled', {fulfillment_notified} = 0)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -288,
        32
      ],
      "id": "e9514ecf-b3c9-490e-aff7-bf6f09908f35",
      "name": "Search Fulfilled Orders",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.fields.telegram_chat_id }}",
        "text": "=🚚 Your order is on the way!\n\nOrder ID: {{ $json.fields.order_id }}\nStatus: Fulfilled\n\n{{ $json.fields.tracking_number ? 'Tracking Number: ' + $json.fields.tracking_number : 'Tracking number will be provided shortly.' }}\n\nThank you for your purchase! 🎉",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        32
      ],
      "id": "dfa3b8b0-f7e3-4f4a-8b20-d7a530c90f44",
      "name": "Notify Customer",
      "webhookId": "af8fc477-0c0f-4a0b-8092-81a01f26ee30",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblWhxya9O77az8Kr",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblWhxya9O77az8Kr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fulfillment_notified": true,
            "id": "={{ $('Search Fulfilled Orders').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "🟡 Pending Approval",
                  "value": "🟡 Pending Approval"
                },
                {
                  "name": "✅ Approved",
                  "value": "✅ Approved"
                },
                {
                  "name": "❌ Rejected",
                  "value": "❌ Rejected"
                },
                {
                  "name": "🚚 Fulfilled",
                  "value": "🚚 Fulfilled"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tracking_number",
              "displayName": "tracking_number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fulfillment_notified",
              "displayName": "fulfillment_notified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        128,
        32
      ],
      "id": "f2ce7624-eb34-44e3-986e-b4a01ff7c6fb",
      "name": "Mark Notified",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger: Every 5 Min": [
      {
        "json": {
          "timestamp": "2026-05-09T23:39:45.468+08:00",
          "Readable date": "May 9th 2026, 11:39:45 pm",
          "Readable time": "11:39:45 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "09",
          "Hour": "23",
          "Minute": "39",
          "Second": "45",
          "Timezone": "Asia/Manila (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Search Fulfilled Orders": [
      {
        "json": {
          "id": "recSYsK2jKHITsFSO",
          "createdTime": "2026-05-09T09:59:34.000Z",
          "fields": {
            "order_id": "ORD-1778320773720",
            "customer_name": "Kevyn Tester",
            "telegram_chat_id": "8644584238",
            "product_id": "recuk3rXy7oh0vXij",
            "quantity": 3,
            "status": "🚚 Fulfilled",
            "created_at": "2026-05-09T09:59:34.000Z",
            "Product": [
              "recuk3rXy7oh0vXij"
            ],
            "Price": [
              300
            ],
            "total_amount": 900
          }
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      }
    ],
    "Notify Customer": [
      {
        "json": {
          "ok": true,
          "result": {
            "message_id": 115,
            "from": {
              "id": 8384346075,
              "is_bot": true,
              "first_name": "AI Sales Assistant",
              "username": "kevyntester_sales_bot"
            },
            "chat": {
              "id": 8644584238,
              "first_name": "Kevyn",
              "last_name": "Tester",
              "type": "private"
            },
            "date": 1778341283,
            "text": "🚚 Your order is on the way!\n\nOrder ID: ORD-1778320773720\nStatus: Fulfilled\n\nTracking number will be provided shortly.\n\nThank you for your purchase! 🎉"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Mark Notified": [
      {
        "json": {
          "id": "recSYsK2jKHITsFSO",
          "createdTime": "2026-05-09T09:59:34.000Z",
          "fields": {
            "quantity": 3,
            "product_id": "recuk3rXy7oh0vXij",
            "status": "🚚 Fulfilled",
            "customer_name": "Kevyn Tester",
            "order_id": "ORD-1778320773720",
            "telegram_chat_id": "8644584238",
            "Product": [
              "recuk3rXy7oh0vXij"
            ],
            "created_at": "2026-05-09T09:59:34.000Z",
            "Price": [
              300
            ],
            "total_amount": 900,
            "fulfillment_notified": true
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger: Every 5 Min": {
      "main": [
        [
          {
            "node": "Search Fulfilled Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Fulfilled Orders": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Customer": {
      "main": [
        [
          {
            "node": "Mark Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aeea4bbf-ef61-4df9-8374-726652f1c8b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "953a1f57a87c292d04865ddcf47377bcf4f3cc4b035326b7099a500d3a353f2b"
  },
  "id": "9IIL4C4TMxfPe5iD",
  "tags": []
}