Workflows/Order Approval Workflow.json
{
  "name": "Order Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5384c41f-ed48-4b25-b4b0-ab8ff5bbc25c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblWhxya9O77az8Kr",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblWhxya9O77az8Kr"
        },
        "filterByFormula": "={status} = '🟡 Pending Approval'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "6369b2f7-3129-4dfc-8e31-666b9b54cfd8",
      "name": "Search Pending Orders",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const fields = item.json.fields;\n  results.push({\n    json: {\n      recordId: item.json.id,\n      orderId: fields.order_id,\n      customerName: fields.customer_name,\n      customerChatId: fields.telegram_chat_id,\n      productRecordId: fields.Product?.[0], // Extract Record ID\n      quantity: fields.quantity,\n      totalAmount: fields.total_amount,\n      status: fields.status\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b2c1d508-27d0-448f-a941-0c30b1a4e41f",
      "name": "Format Order Info"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblczjv7bxwY6rsAf",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblczjv7bxwY6rsAf"
        },
        "id": "={{ $json.productRecordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "792241ff-cc77-42a1-b229-fc0b5cebfa69",
      "name": "Get Product Details",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5233070577",
        "text": "=📦 New Order Pending Approval\n\nOrder ID: {{ $('Format Order Info').item.json.orderId }}\nCustomer: {{ $('Format Order Info').item.json.customerName }}\nProduct: {{ $json.fields.name }}\nQuantity: {{ $('Format Order Info').item.json.quantity }}\nTotal: ₱{{ $('Format Order Info').item.json.totalAmount }}\n\nPlease approve or reject this order:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve",
                    "additionalFields": {
                      "callback_data": "=approve:{{ $('Format Order Info').item.json.recordId }}:{{ $('Format Order Info').item.json.customerChatId }}"
                    }
                  },
                  {
                    "text": "❌ Reject",
                    "additionalFields": {
                      "callback_data": "=reject:{{ $('Format Order Info').item.json.recordId }}:{{ $('Format Order Info').item.json.customerChatId }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "3f468ec8-1daf-4bde-9005-0721c321567a",
      "name": "Notify Admin",
      "webhookId": "da7362d9-6fd2-4922-88d7-cde1f4555e8d",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        352
      ],
      "id": "32e845e1-1e4b-40c7-988d-b20db9965e36",
      "name": "Telegram Callback Trigger",
      "webhookId": "bdab8979-1695-4ce4-8937-eda772b7afb9",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callback = $json.callback_query;\nconst data = callback.data.split(':');\nreturn {\n  json: {\n    action: data[0],           // 'approve' or 'reject'\n    recordId: data[1],         // Airtable record ID\n    customerChatId: data[2],   // Customer chat ID\n    callbackQueryId: callback.id,\n    adminChatId: callback.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        352
      ],
      "id": "0598603e-ec14-4f7e-b07e-1260666b68e6",
      "name": "Parse Callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f44b5bb-cbec-442d-b780-b71567504b7b",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        352
      ],
      "id": "5b2bc59b-93c5-4e02-9ac4-099a9cbd7af8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblWhxya9O77az8Kr",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblWhxya9O77az8Kr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.recordId }}",
            "status": "✅ Approved"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "🟡 Pending Approval",
                  "value": "🟡 Pending Approval"
                },
                {
                  "name": "✅ Approved",
                  "value": "✅ Approved"
                },
                {
                  "name": "❌ Rejected",
                  "value": "❌ Rejected"
                },
                {
                  "name": "🚚 Fulfilled",
                  "value": "🚚 Fulfilled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        624,
        288
      ],
      "id": "84af628b-3f85-441d-9879-c8a290b812f3",
      "name": "Update Order Status Approved",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblWhxya9O77az8Kr",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblWhxya9O77az8Kr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.recordId }}",
            "status": "❌ Rejected"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "🟡 Pending Approval",
                  "value": "🟡 Pending Approval"
                },
                {
                  "name": "✅ Approved",
                  "value": "✅ Approved"
                },
                {
                  "name": "❌ Rejected",
                  "value": "❌ Rejected"
                },
                {
                  "name": "🚚 Fulfilled",
                  "value": "🚚 Fulfilled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        624,
        496
      ],
      "id": "b09135d4-f4a0-492b-a11d-cb76f49aec95",
      "name": "Update Order Status Rejected",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback').item.json.customerChatId }}",
        "text": "={{ $('Parse Callback').item.json.action === 'approve' ? '✅ Your order has been approved!' : '❌ Your order has been rejected.' }}\n\nOrder ID: {{ $('Parse Callback').item.json.action === 'approve' ? $('Update Order Status Approved').item.json.fields.order_id : $('Update Order Status Rejected').item.json.fields.order_id }}\nStatus: {{ $('Parse Callback').item.json.action === 'approve' ? '✅ Approved' : '❌ Rejected' }}\n\n{{ $('Parse Callback').item.json.action === 'approve' ? 'We\\'ll process your order shortly. Thank you! 🎉' : 'Contact support if you have questions. 🤝' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        496
      ],
      "id": "62b8bfb2-59ee-415f-ad2a-659643d582d7",
      "name": "Notify Customer",
      "webhookId": "d3627539-3d7a-40da-8a29-a6b83bb66ced",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Parse Callback').item.json.callbackQueryId }}",
        "additionalFields": {
          "text": "=Order {{ $('Parse Callback').item.json.action }}ed successfully."
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        496
      ],
      "id": "578aed01-ed06-4426-a444-a552f60ce394",
      "name": "Answer Query a callback",
      "webhookId": "1daab84e-38ea-4e2c-8b02-cab8d5dfa3ed",
      "credentials": {
        "telegramApi": {
          "id": "5vlXN3tM4frwn6Eg",
          "name": "smart sales agent bot"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblczjv7bxwY6rsAf",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblczjv7bxwY6rsAf"
        },
        "id": "={{ $json.fields.Product[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        832,
        288
      ],
      "id": "e4e44bee-071b-458f-9e17-0b0b3bb63fd1",
      "name": "Get Product for Stock",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentStock = $json.fields.stock;\n\n// Reference quantity from the upstream Order node\nconst quantity = $('Update Order Status Approved').item.json.fields.quantity;\n\nconst newStock = Math.max(0, currentStock - quantity);\n\nreturn {\n  json: {\n    ...$json,\n    productRecordId: $json.id,\n    newStock: newStock\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        288
      ],
      "id": "4fa6e1d9-b737-453f-92dd-733bc5db1fdd",
      "name": "Calculate New Stock"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjTXRsh3M8VgIhF",
          "mode": "list",
          "cachedResultName": "AI Sales Bot",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF"
        },
        "table": {
          "__rl": true,
          "value": "tblczjv7bxwY6rsAf",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appjTXRsh3M8VgIhF/tblczjv7bxwY6rsAf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.productRecordId }}",
            "stock": "={{ $json.newStock }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Orders",
              "displayName": "Orders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Orders 3",
              "displayName": "Orders 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1248,
        288
      ],
      "id": "c3c3aede-39c4-4982-bc1b-287a3169fec3",
      "name": "Update Product Stock",
      "credentials": {
        "airtableTokenApi": {
          "id": "sZCcD47rhaVYRpFC",
          "name": "n8n telegram sales bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Pending Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Pending Orders": {
      "main": [
        [
          {
            "node": "Format Order Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Info": {
      "main": [
        [
          {
            "node": "Get Product Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Details": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        []
      ]
    },
    "Telegram Callback Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Order Status Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Order Status Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status Approved": {
      "main": [
        [
          {
            "node": "Get Product for Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status Rejected": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Customer": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product for Stock": {
      "main": [
        [
          {
            "node": "Calculate New Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Stock": {
      "main": [
        [
          {
            "node": "Update Product Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Stock": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ea4c070b-e994-4527-97c3-8ba5e221d1d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "953a1f57a87c292d04865ddcf47377bcf4f3cc4b035326b7099a500d3a353f2b"
  },
  "id": "hCEllN813MXaa2DB",
  "tags": []
}